*{
    margin: 0px;
    padding: 0%;
}

body{
    background-color: aqua;
    text-align: center;
}

.container{
height: 70vh;
font-size: 9vmin;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    font-size: 9vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    margin: 2px; 
    background-color: aquamarine;
    border-radius: 20px;
    color: orangered;
    font-size: 8vmin;
    align-items: center;
    box-shadow: 0 0 rem rgba(0%, 0%, 0, 0.5);

}

#resetBtn{
    padding: 1rem;
    border-radius: 25px;
    background-color: rgb(4, 17, 27);
    color: azure;
}

#nwbtn{
    color: black;
    padding: 0.5rem;
    background-color: chartreuse;
    border-radius: 25px;
}

#pg{
    color:blue;
    font-size: 8vmin

}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}

.hide{
    display: none;
}